* {
  box-sizing: border-box;
}

body {
  background-color: #888;
}

.container {
  background-color: #999;
  width: 90%;
  margin: 4em auto;
}

/*CANVAS*/
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em

}

.row {
  display: flex;
}

.cell {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  min-width: 3em;
  height: 3em;
}

/*PALETTE*/
.palette {
  display: flex;
  justify-content: center;
}
.color-options {

}

.color-row {
  display: flex;
  padding-bottom: 3em;
}

/*COLORS*/
.color-swatch {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 0em 1em;
}

.current-color {
  margin-right: 2em;
  height: 3em;
}


#current {
  width: 7em;
  height: 3em;
  /*background-color: white;*/
  border: 1px solid #717171;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  border: 1px solid red;
}

.orange {
  background-color: orange;
  border: 1px solid orange;
}

.yellow {
  background-color: yellow;
  border: 1px solid yellow;
}

.green {
  background-color: green;
  border: 1px solid green;
}

.lightblue {
  background-color: lightblue;
  border: 1px solid lightblue;
}

.blue {
  background-color: blue;
  border: 1px solid blue;
}

.purple {
  background-color: purple;
  border: 1px solid purple;
}

.gray {
  background-color: gray;
  border: 1px solid gray;
}

.black {
  background-color: black;
  border: 1px solid black;
}

.white {
  background-color: white;
  border: 1px solid white;
}
